@model IEnumerable<QuanLyBanHang.Models.SanPham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}
@section Links{
    <link rel="stylesheet" href="~/admin/custom/admin_users.css" />
    <link rel="stylesheet" href="~/admin/css/product.css" />
}
    <div class="container">
        <div class="header-content">
            <h2>Danh sách sản phẩm</h2>
            <a class="add-user" title="Add user" href="admin_addproduct.php">
                <i class="fa fa-plus" aria-hidden="true"></i>Thêm sản phẩm
            </a>
        </div>
        <div class="content-content vertical-menu">
            <table>
                <tr>
                    <th>STT</th>
                    <th>Tên</th>
                    <th>Ảnh</th>
                    <th>Nhãn hiệu</th>
                    <th>Màu</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                    <th>Giảm giá</th>
                    <th>Chỉnh sửa</th>
                </tr>
            </table>
            <p class="amount" style="display: none"></p>
        </div>
    </div>
